
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">WiFinder</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right login">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span3">
          <div class="sidebar-nav infobox_placeholder">
            Click on a location on the map to get details.
          </div>
          
          <div class="sidebar-nav infobox">
        
            <div id="venue-img" class="">
              <img src="assets/img/starbucks.jpg"></img>
              <h3 class='spot_name'>Starbucks</h3>
              <p class='spot_address'>Carrousel du Louvre, Paris, Île-de-France 75001</p>
              <p class='spot_cat'>Coffee Shop</p><br>
            </div>

            <div id='rate_form'>
              <form id='rate_a_place'>
                <input type='hidden' class='spot_id'></input>
                <p><b>Rate this place!</b></p>
                How good is the Wifi?
                <select id='rate_wifi'>
                  <option value="1">Poor - For emails only</option>
                  <option value="2">Normal - Good for normal browsing</option>
                  <option value="3">Fast - Skype and YouTube OK</option>
                </select><br>
                Is it quiet enough to focus?
                <select id='rate_quietness'>
                  <option value="1">No, it's noisy</option>
                  <option value="2">It's ok</option>
                  <option value="3">It's so calm!</option>
                </select>
                <button type'=submit'>Send rating</button>
              </form> 
           </div>
          </div>

        </div><!--/span-->


        <div class="span9">
          <div class="hero-unit">
			  <div class="slider_container span3">
			    <label for="price_label">Price</label>
			    <input type="text" id="price_label" style="border:0; color:#f6931f; font-weight:bold;">
				<div id="price_slider" class="slider"></div>
			  </div>
			  
			  
			  
			  <div class="slider_container span3" >
			    <label for="wifi_label">Wifi</label>
			    <input type="text" id="wifi_label" style="border:0; color:#f6931f; font-weight:bold;">
				<div id="wifi_slider" class="slider"></div>
			  </div>
			  
			  
			  <div class="slider_container span3">
			    <label for="noise_label">Noise</label>
			    <input type="text" id="noise_label" style="border:0; color:#f6931f; font-weight:bold;">
			  <div id="noise_slider" class="slider"></div>
			              
		  </div>
		<div class="slider_container span2"><p style="margin-top:20px; margin-left:20px;"><a href="#" class="btn btn-primary btn-small">Go &raquo;</a></p></div>
			  

          <div id="themap" class='foo'>
          </div>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; WiFind 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  
	  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

	  <script>

    console.log(<%= raw @hash.to_json%>)


	  $(function() {
	    $( "#price_slider" ).slider({
	      value:0,
	      min: 0,
	      max: 500,
	      step: 50,
		  orientation: "horizontal",
	      slide: function( event, ui ) {
	        $( "#price_label" ).val( "$" + ui.value );
	      }
	    });
	    $( "price_label" ).val( "$" + $( "#price_slider" ).slider( "value" ) );
		
	    $( "#wifi_slider" ).slider({
	      value:0,
	      min: 0,
	      max: 500,
	      step: 50,
		  orientation: "horizontal",
	      slide: function( event, ui ) {
	        $( "wifi_label" ).val( "$" + ui.value );
	      }
	    });
	    $( "#wifi_label" ).val( "$" + $( "#wifi_slider" ).slider( "value" ) );
		
		
	    $( "#noise_slider" ).slider({
	      value:0
		  ,
	      min: 0,
	      max: 500,
	      step: 50,
		  orientation: "horizontal",
	      slide: function( event, ui ) {
	        $( "#noise_label" ).val( "$" + ui.value );
	      }
	    });
	    $( "#noise_label" ).val( "$" + $( "#noise_slider" ).slider( "value" ) );
		
	  });
	  </script>
